*{
    margin: 0;
    padding: 0;

}
body{
    background-color: yellowgreen;
    
}

#container{
    margin: 100px 500px;
    padding: 100px;
    border-radius: 20px;
    background-color: white;
}

h2{
    padding: 10px;
}

.inputdiv{
    padding: 10px 20px 20px;
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    width: auto;
    height: auto;
        
}


